body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 11px;
}
.hide {display: none;}
.clear {clear: both;}

/* Tool bar */
div.tool-bar {
    padding: 5px;
    background-color: #F3F3E9;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.tool-bar li {
	float:left;
	margin-right: 5px;
}
div.tool-bar a {
	padding: 4px;
	display: block;
}
div.tool-bar span {
	background-repeat: no-repeat;
    text-indent: -99999px;
	display: block;
	width: 16px;
    height: 16px;
}
div.tool-bar a.ui-state-default {position: relative;}
div.tool-bar a:active { top: 1px; }
div.tool-bar a.add-table span { background-image: url(../../../images/themes/default/Table.png); }
div.tool-bar a.align-tables span { background-image: url(../../../images/themes/default/Tables.png); }
div.tool-bar a.add-column span { background-image: url(../../../images/themes/default/Column.png); }
div.tool-bar a.add-foreignkey span { background-image: url(../../../images/themes/default/ForeignKey.png); }
div.tool-bar a.add-uniquekey span { background-image: url(../../../images/themes/default/UniqueConstraint.png); }
div.tool-bar a.save span { background-image: url(../../../images/themes/default/Save.png); }
div.tool-bar a.drop-table span { background-image: url(../../../images/themes/default/Erase.png);}
div.tool-bar a.forward-engineer span { background-image: url(../images/ForwardEngineer.png);}
div.tool-bar a.reverse-engineer span { background-image: url(../images/ReverseEngineer.png);}
div.tool-bar a.select span { background-image: url(../images/Arrow.png); }

/* Undeveloped features*/
div.tool-bar a.reverse-engineer { display:none; }


/* Canvas */
div.canvas {
    position: absolute;
    width: 100%;
    top: 36px;
    bottom: 25px;
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6CC;
    overflow: scroll;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
div.canvas-collapsed {bottom: 250px;}
div.canvas div.inner-canvas{
    /*position:absolute;
    left: 0px;
    right: 15px;/*space for some browser's scroll bar*/
    /*top:0px;
    bottom:15px;/*space for some browser's scroll bar*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Object Detail*/
div.object-detail {
    position:absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}
div.object-detail-collapsed { height: 25px }
div.object-detail div.title-bar{
    height: 25px;
    padding: 0px 5px;
    text-align: center;
    background-color: #F3F3E9;
	position: relative;
}
div.object-detail div.title-bar span.title {
    padding: 0px 10px;
    color: #336699;
    line-height: 25px;
    white-space: nowrap;
}
div.object-detail div.title-bar a.collapse-button {
	display:block;
	position: absolute;
	top: 3px;
	right: 10px;
	width: 18px;
	height: 18px;
}
div.object-detail div.title-bar a.collapse-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
div.object-detail div.buttons-placeholder {
	margin: 2px 0;
	text-align: right;
}
div.object-detail div.title-bar a.collapse-button:active {top: 4px;}
div.object-detail-tabs { height: 100%; }
div.object-detail-tabs div.ui-tabs-panel{ height: 190px; padding: 2px 0 0 0; }
#od-tab-properties dt {
	font-weight: bold;
	background-color: #E6E6CC;
	width: 200px;
	text-align: center;
	float: left;
	margin-right: 10px;
}
#od-tab-properties div.buttons-placeholder {
	margin-left: 210px;
	margin-top: 20px;
	text-align: left;
}
#od-tab-properties dd{ clear: right;}
#od-tab-properties dt, #od-tab-properties dd{
	height: 20px;
	line-height: 20px;
	margin-bottom: 2px;
}
div.object-detail div.right-container {
	float:left;
	background-color: #F3F3E9;
	height: 100%;
	width: 15%;
}
div.object-detail div.data-table-container {
	float: left;
	width: 100%;
	overflow: auto;
	height: 167px;
}
div.object-detail table {width: 100%; border-collapse: collapse;}
div.object-detail tr {
	height: 18px;
	line-height: 18px;
}
div.object-detail table.data-mgr tbody tr{cursor: pointer;}
div.object-detail table.data-mgr a.action-btn {float:left;}
div.object-detail table.data-mgr a.action-btn span.ui-icon {margin-left: 5px}
#od-tab-columns th.actions {width: 90px}
#od-tab-uniquekeys th.actions, #od-tab-foreignkeys th.actions {width: 47px}
#od-tab-foreignkeys th.fixed-prop {width: 95px}
div.object-detail table.data-mgr tr.hover {background-color: #F3F3E9;}
div.object-detail table.data-mgr tr.selected {background-color: #336699; color: #fff;}
div.object-detail th { font-weight: bold; background-color: #E6E6CC}
div.object-detail th.check {width: 30px;}
div.object-detail td, div.object-detail th {border: 2px solid #E6E6CC; text-align: center;}
div.object-detail td span.ui-icon { margin-left: 7px; }

/* Database Table */
div.canvas div.db-table {
	border: 2px solid #E6E6CC;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    padding: 0px;
    margin: 0px;
}
div.canvas div.db-table div.header {
	position: relative;
	height: 25px;
	padding: 0px 5px;
	text-align: center;
	background-color: #F3F3E9;
}
div.canvas div.db-table div.header span.title{
    padding: 0px 10px;
    color: #336699;
    line-height: 25px;
    white-space: nowrap;
}
div.canvas div.db-table div.header a.button{
    display:block;
	position: relative;
	float: right;
	width: 18px;
	height: 18px;
	margin: 2px 1px 0px;
	visibility: hidden;
}
div.canvas div.db-table div.header a.button:active {top: 1px;}
div.canvas div.db-table div.header a.button span{
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
div.canvas div.db-table div.column-container{
    padding: 3px;
    background-color: #FFFFFF;
}
div.canvas div.ui-selected, div.canvas div.ui-selecting{
    border-color: #336699;
    z-index: 30;
    -moz-box-shadow: 4px 4px 8px #888888; /* FF 3.5+ */
    -webkit-box-shadow: 4px 4px 8px #888888; /* Safari 3.0+, Chrome */
    box-shadow: 4px 4px 8px #888888; /* Opera 10.5, IE 9.0 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888'); /* IE 6, IE 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888'); /* IE 8 */
}
div.canvas div.ui-selected div.header a.button { visibility: visible;}
div.canvas div.db-table-collapsed div.column-container {display: none;}

div.canvas div.db-table div.column-container div.db-column { border-bottom: 1px solid #fff; }
div.canvas div.db-table div.column-container div.db-column span.definition{
    color: #000000;
    line-height: 16px;
	height: 16px;
    white-space: nowrap;
	text-decoration: none;
	padding: 0px 10px;
}
div.canvas div.db-table div.column-container div.notnull span.definition {text-decoration: underline;}
div.canvas div.db-table div.column-container div.db-column span.keys{
	background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    height: 16px;
	float: left;
}
div.canvas div.db-table div.column-container div.db-column span.pk { background-image: url(../../../images/themes/default/PrimaryKey.png); }
div.canvas div.db-table div.column-container div.db-column span.fk { background-image: url(../../../images/themes/default/ForeignKey.png); }
div.canvas div.db-table div.column-container div.db-column span.uk { background-image: url(../../../images/themes/default/UniqueConstraint.png); }
div.canvas div.db-table div.column-container div.db-column span.pk-fk { background-image: url(../images/PrimaryKey_ForeignKey.png); }
div.canvas div.db-table div.column-container div.db-column span.uk-fk { background-image: url(../images/UniqueConstraint_ForeignKey.png); }
div.canvas div.db-table div.column-container div.db-column-hover, 
div.canvas div.db-table div.column-container div.db-column-highlight {background-color: #EFEFEF;}
div.canvas div.db-table div.column-container div.db-column-highlight span.definition {color: #E59700;}
/* Dialog */
/*div.ui-dialog-titlebar span.ui-dialog-title, div.ui-dialog-content {font-size: 0.82em;}*/

div.ui-dialog-content .label {
	display: block;
	float: left;
	background-color: #E6E6CC;
	width: 200px;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	height: 20px;
	margin-right: 4px;
}
div.ui-dialog-content div.field-text, div.ui-dialog-content div.field-check,
div.ui-dialog-content div.field-textarea, div.ui-dialog-content div.field-select  {
	clear:both;
	margin-bottom: 2px;
}

div.ui-dialog-content div.field-text input, div.ui-dialog-content div.field-textarea textarea,
div.ui-dialog-content div.field-select select {
	width: 200px;
	height: 14px;
	padding: 2px;
	border: 1px solid #E6E6CC;
}
div.ui-dialog-content div.field-select select { width: 206px; height: 20px; }
div.ui-dialog-content div.field-textarea textarea {
	resize: none;
	height: 39px;
}
div.ui-dialog-content div.field-textarea .label {
	height: 45px;
	line-height: 45px;
}
div.ui-dialog-content div.field-multiselection {margin-bottom: 2px; clear: both;}
div.ui-dialog-content div.field-multiselection .label{
	display: block;
	background-color: #E6E6CC;
	width: 100%;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	height: 20px;
}
div.ui-dialog-content div.field-multiselection select{width: 100%; border: 1px solid #E6E6CC;}
div.ui-dialog-content div.field-multiselection div.layout-select{
	float:left;
	width: 165px;
}
div.ui-dialog-content div.field-multiselection div.layout-buttons{
	float:left;
	width: 80px;
	text-align: center;
	padding-top: 50px;
}
div.ui-dialog-content div.buttons-placeholder { text-align: center; padding: 10px 0px;}
div.buttons-placeholder input{
	min-width: 80px;
	margin-right: 5px;
}
div.ui-dialog-content ul.error-list{
	color: #CD0A0A;
	margin: 10px 0px;
}
div.ui-dialog-content ul.error-list li{
	list-style-type: disc;
	list-style-position: inside;
}
div.ui-dialog-content div.required .label{text-decoration: underline;}


div.foreignkey-dialog table{
	border-collapse: collapse;
	margin-bottom: 15px;
}

div.foreignkey-dialog table tr{
	height: 20px;
	line-height: 20px;
	text-align: center;
}

div.foreignkey-dialog table th{
	background-color: #E6E6CC;
	width: 184px;
	font-weight: bold;
}
div.foreignkey-dialog table th, div.foreignkey-dialog table td { border: 1px solid #E6E6CC; }
div.foreignkey-dialog table th.remove { width: 38px;}

div.fordwardengineer-dialog div.field-textarea textarea {
	width: 410px;
	height: 200px;
}
div.fordwardengineer-dialog div.field-textarea textarea.show-output { 
	background-color: #E6E6CC;
	height: 266px;
}
div.fordwardengineer-dialog .show-output {display: none;}
div.fordwardengineer-dialog.show-output .show-output {display: inline;}
div.fordwardengineer-dialog.show-output .hide-output {display: none;}

svg {position: absolute; top: 0; left: 0;}

/* Overlay */
div.ui-widget-overlay { z-index: 1000; }

/* Tooltip */
div.ui-tooltip { z-index: 100; }

/* Message */
div.message-box { 
	z-index: 9999;
	position: absolute;
	top: 25px;
	left: 50%;
	padding: 5px 15px;
	border: 1px solid #E59700 /*#E59700*/;
	background-color: #FCEFA1;/*#FCEFA1*/;
	cursor: default;
}