body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 11px;
}
.hide {display: none;}
.clear {clear: both;}

/* Tool bar */
div.tool-bar {
    padding: 5px;
    background-color: #F3F3E9;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.tool-bar li {
	float:left;
	margin-right: 5px;
}
div.tool-bar a {
	padding: 4px;
	display: block;
}
div.tool-bar span {
	background-repeat: no-repeat;
    text-indent: -99999px;
	display: block;
	width: 16px;
    height: 16px;
}
div.tool-bar a.ui-state-default {position: relative;}
div.tool-bar a:active { top: 1px; }
div.tool-bar a.add-table span { background-image: url(../../../images/themes/default/Table.png); }
div.tool-bar a.align-tables span { background-image: url(../../../images/themes/default/Tables.png); }
div.tool-bar a.add-column span { background-image: url(../../../images/themes/default/Column.png); }
div.tool-bar a.add-foreignkey span { background-image: url(../../../images/themes/default/ForeignKey.png); }
div.tool-bar a.save span { background-image: url(../../../images/themes/default/Save.png); }
div.tool-bar a.drop-table span { background-image: url(../../../images/themes/default/Erase.png);}
div.tool-bar a.forward-engineer span { background-image: url(../images/ForwardEngineer.png);}
div.tool-bar a.reverse-engineer span { background-image: url(../images/ReverseEngineer.png);}
div.tool-bar a.select span { background-image: url(../images/Arrow.png); }

/* Canvas */
div.canvas {
    position: absolute;
    width: 100%;
    top: 36px;
    bottom: 25px;
    background-color: #FFFFFF;
    border-top: 1px solid #E6E6CC;
    overflow: scroll;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
div.canvas-collapsed {bottom: 250px;}
div.canvas div.inner-canvas{
    /*position:absolute;
    left: 0px;
    right: 15px;/*space for some browser's scroll bar*/
    /*top:0px;
    bottom:15px;/*space for some browser's scroll bar*/
	width: 100%;
	height: 100%;
}

/* Object Detail*/
div.object-detail {
    position:absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}
div.object-detail-collapsed { height: 25px }
div.object-detail div.title-bar{
    height: 25px;
    padding: 0px 5px;
    text-align: center;
    background-color: #F3F3E9;
	position: relative;
}
div.object-detail div.title-bar span.title {
    padding: 0px 10px;
    color: #336699;
    line-height: 25px;
    white-space: nowrap;
}
div.object-detail div.title-bar a.collapse-button {
	display:block;
	position: absolute;
	top: 3px;
	right: 10px;
	width: 18px;
	height: 18px;
}
div.object-detail div.title-bar a.collapse-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
div.object-detail div.title-bar a.collapse-button:active {top: 4px;}

/* Database Table */
div.canvas div.db-table {
	border: 2px solid #E6E6CC;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    padding: 0px;
    margin: 0px;
}
div.canvas div.db-table div.header {
	position: relative;
	height: 25px;
	padding: 0px 5px;
	text-align: center;
	background-color: #F3F3E9;
}
div.canvas div.db-table div.header span.title{
    padding: 0px 10px;
    color: #336699;
    line-height: 25px;
    white-space: nowrap;
}
div.canvas div.db-table div.header a.button{
    display:block;
	position: relative;
	float: right;
	width: 18px;
	height: 18px;
	margin: 2px 1px 0px;
	visibility: hidden;
}
div.canvas div.db-table div.header a.button:active {top: 1px;}
div.canvas div.db-table div.header a.button span{
    position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
div.canvas div.db-table div.column-container{
    padding: 3px;
    background-color: #FFFFFF;
}
div.canvas div.ui-selected, div.canvas div.ui-selecting{
    border-color: #336699;
    z-index: 30;
    -moz-box-shadow: 4px 4px 8px #888888; /* FF 3.5+ */
    -webkit-box-shadow: 4px 4px 8px #888888; /* Safari 3.0+, Chrome */
    box-shadow: 4px 4px 8px #888888; /* Opera 10.5, IE 9.0 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888'); /* IE 6, IE 7 */
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#888888'); /* IE 8 */
}
div.canvas div.ui-selected div.header a.button { visibility: visible;}
div.canvas div.db-table-collapsed div.column-container {display: none;}

div.canvas div.db-table div.column-container div.db-column span.definition{
    color: #000000;
    line-height: 16px;
	height: 16px;
    white-space: nowrap;
	text-decoration: none;
	padding: 0px 10px;
}
div.canvas div.db-table div.column-container div.notnull span.definition {text-decoration: underline;}
div.canvas div.db-table div.column-container div.db-column span.keys{
	background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    height: 16px;
	float: left;
}
div.canvas div.db-table div.column-container div.db-column span.pk { background-image: url(../../../images/themes/default/PrimaryKey.png); }
div.canvas div.db-table div.column-container div.db-column span.fk { background-image: url(../../../images/themes/default/ForeignKey.png); }
div.canvas div.db-table div.column-container div.db-column span.uk { background-image: url(../../../images/themes/default/UniqueConstraint.png); }
div.canvas div.db-table div.column-container div.db-column span.pk-fk { background-image: url(../images/PrimaryKey_ForeignKey.png); }
div.canvas div.db-table div.column-container div.db-column span.uk-fk { background-image: url(../images/UniqueConstraint_ForeignKey.png); }

/* Dialog */
div.ui-dialog-titlebar span.ui-dialog-title, div.ui-dialog-content {font-size: 0.82em;}

div.ui-dialog-content .label {
	display: block;
	float: left;
	background-color: #E6E6CC;
	width: 200px;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	height: 20px;
	margin-right: 4px;
}
div.ui-dialog-content div.field-text, div.ui-dialog-content div.field-check,
div.ui-dialog-content div.field-textarea, div.ui-dialog-content div.field-select  {
	clear:both;
	margin-bottom: 2px;
}

div.ui-dialog-content div.field-text input, div.ui-dialog-content div.field-textarea textarea,
div.ui-dialog-content div.field-select select {
	width: 200px;
	height: 14px;
	padding: 2px;
	border: 1px solid #E6E6CC;
}
div.ui-dialog-content div.field-select select { width: 206px; height: 20px; }
div.ui-dialog-content div.field-textarea textarea {
	resize: none;
	height: 39px;
}
div.ui-dialog-content div.field-textarea .label {
	height: 45px;
	line-height: 45px;
}

div.ui-dialog-content div.buttons-placeholder { text-align: center; padding: 10px 0px;}
div.ui-dialog-content div.buttons-placeholder input{
	min-width: 80px;
	margin-right: 5px;
}
div.ui-dialog-content ul.error-list{
	color: #CD0A0A;
	margin: 10px 0px;
}
div.ui-dialog-content ul.error-list li{
	list-style-type: disc;
	list-style-position: inside;
}
div.ui-dialog-content div.required .label{text-decoration: underline;}
/*
p.message {
    color: #336699;
}

noscript{
    color:red;
    font-size: larger;
}

div.invisible-container{
    display:none !important;
}

div.tool-bar{
    height: 26px;
    padding: 5px;
    background-color: #F3F3E9;
}


div.canvas-fullscreen{
    bottom: 25px;
}

span.ppa-icon-tables{
    background-image: url(../../../images/themes/default/Tables.png);
}

span.ppa-icon-switch-user{
    background-image: url(../../../images/themes/default/Refresh.png);
}

span.ppa-icon-loading{
    background-image: url(../../../images/themes/default/Loading.gif);
}

span.ppa-icon-table{
    background-image: url(../../../images/themes/default/Table.png);
}

span.ppa-icon-column{
    background-image: url(../../../images/themes/default/Column.png);
}

span.ppa-icon-pk{
    background-image: url(../../../images/themes/default/PrimaryKey.png);
}

span.ppa-icon-fk{
    background-image: url(../../../images/themes/default/ForeignKey.png);
}

span.ppa-icon-uniq{
    background-image: url(../../../images/themes/default/UniqueConstraint.png);
}

span.ppa-icon-check{
    background-image: url(../../../images/themes/default/CheckConstraint.png);
}

span.ppa-icon-save{
    background-image: url(../../../images/themes/default/Save.png);
}

span.ppa-icon-arrow{
    background-image: url(../../../images/themes/default/Arrow.png);
}

span.ppa-icon-fe{
    background-image: url(../../../images/themes/default/ForwardEngineer.png);
}

span.ppa-icon-re{
    background-image: url(../../../images/themes/default/ReverseEngineer.png);
}

span.ppa-icon-drop{
    background-image: url(../../../images/themes/default/Erase.png);
}

span.ppa-icon-pk-fk{
    background-image: url(../../../images/themes/default/PrimaryKey_ForeignKey.png);
}

span.ppa-icon-fk-uniq{
    background-image: url(../../../images/themes/default/UniqueConstraint_ForeignKey.png);
}

span.ppa-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
    width: 16px;
    height: 16px;
}
*/
/* bottom*/

/*
div.table-detail{
    position:absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
}

div.table-detail-collapsed { height: 25px !important; }

div.title-bar{
    height: 25px;
    padding: 0px 5px;
    text-align: center;
    background-color: #F3F3E9;
}

span.title{
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 1em;
    padding: 0px 10px;
    color: #336699;
    line-height: 25px;
    white-space: nowrap;
}


a.menu-button{
    float: left !important;
    margin-right: 5px !important;
    padding: 4px !important;
    text-decoration: none !important;
    text-align: center;
}

.menu-splitter{
    text-align: center;
    float: left !important;
    margin: 0px 12px 0px 7px!important;
    width: 1px;
    height: 25px;
    background-image: url(../../../images/themes/default/MenuSplitterV.png);
    text-indent: -99999px;
}

a.misc-button{
    text-align: center;
    padding: 0px;
    width: 18px;
    height: 18px;
    text-decoration: none !important;
    float: right;
}

a.misc-button span.ui-icon{
    position: relative; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px;
}

.right-container .ui-state-default, div.title-bar .ui-state-default{
    border-width: 0px;
    margin: 3px 2px 0px;
}

.right-container .ui-state-hover, div.title-bar .ui-state-hover{
    border-width: 1px;
    margin: 2px 1px 0px;
}

.ui-state-default, .ui-state-hover { cursor: pointer; }

.ui-state-active { cursor: default; }

.table-detail-tabs { height: 220px; }
.table-detail-tabs .ui-tabs-panel { overflow: hidden; padding: 0px}
.table-detail-tabs .ui-tabs-nav { position: absolute !important; left: 0; bottom: 0; right:0; padding: 0 0.2em 0.2em 0; }
.table-detail-tabs .ui-tabs-nav li { margin-top: -2px !important; margin-bottom: 1px !important; border-top: none; border-bottom-width: 1px; }
.table-detail-tabs .ui-tabs-selected { margin-top: -3px !important; }

.table-detail-tabs .data-table-container {
    float:left;
    width: 80%;
    height: 194px;
    overflow: auto;
}

.table-detail-tabs .data-table-container-2-1, .table-detail-tabs .data-table-container-2-2 {
    float:left;
    width: 39%;
    height: 194px;
    overflow: auto;
}

.data-table-container-2-2 {
    margin-left: 2%;
}

.table-detail-tabs .right-container {
    float:left;
    background-color: #F3F3E9;
    height: 100%;
    width: 20%;
    text-align: center;
}

.right-container .misc-button{
    float: left;
}


.right-container textarea {
    width: 80%;
    margin-top: 10px;
}

.right-container input[type="button"] {
    margin: 3px;
}

.table-detail-tabs table {
    padding: 0px;
    border-collapse: collapse;
}

.table-detail-tabs th {
    border: 2px solid #E6E6CC;
    text-align: center;
}

.table-detail-tabs td {
    border: 2px solid #F3F3E9;
    border: 2px solid #F3F3E9;
    text-align: center;
}

tr.selected {
    background-color: #336699;
    color: #FFFFFF;
}

.table-detail-tabs .tab {
    height: 100%;
}

table{
    width: 100%;
    border: 0px none;
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 1em;

}

th {
    text-align: center;
    background-color: #E6E6CC;
    font-weight: bold;
}

th.needed-field {
    text-decoration: underline;
}

p.ui-state-error {
    margin: 5px 0px;
    padding: 5px;
}

div.dialog-buttons-container{
    text-align: right;
}

input[type="text"], select{
    width: 100%;
}

textarea{
    width: 100%;
    height: 50px;
    resize: none;
}

input[type="button"]{
    min-width: 80px;
    margin: 10px 0px 10px 5px;
}

.table{
    border: 2px solid #E6E6CC;
    cursor: pointer !important;
    position: absolute !important;
    z-index: 20;
    padding: 0px;
    margin: 0px;
}

.table .columns-container{
    padding: 3px;
    background-color: #FFFFFF;
}

.table .columns-container-collapsed{
    display: none;
}

.columns-container span.ppa-icon{
    float: left;
}

span.column-def{
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 1em;
    padding: 0px 10px;
    color: #000000;
    line-height: 16px;
    white-space: nowrap;
}

.canvas .ui-draggable-dragging{
    z-index: 40 !important;
}
*/

/*
.table a.misc-button{
    visibility: hidden;
}

.ui-selected a.misc-button{
    visibility: visible;
}
*/
/* HTML TABLES*/
/*
table.fk-dialog-columns th, table.fk-dialog-columns td{
    width: 50%;
    text-align: center;
}

div.table-scroll-pane{
    height: 120px;
    overflow: auto;
}

iframe {
    border-style: none;
    width: 100%;
    height: 250px;
}

textarea.sql-output{
    height: 300px;
}
*/