@import "compass/reset";
@import "jquery-ui-1.10.3.custom";
@import "compass/css3/user-interface";
@import "compass/css3/box-shadow";

body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    font-family: arial, tahoma, verdana, helvetica, sans-serif, serif;
    font-size: 11px;
}

.hide {display: none;}
.clear {clear: both;}

@import "toolbar";
@import "canvas";
@import "object-detail";
@import "db-table";
@import "dialog";


/* Tooltip */
div.ui-tooltip { z-index: 100; }

/* Message */
div.message-box { 
	z-index: 9999;
	position: absolute;
	top: 25px;
	left: 50%;
	padding: 5px 15px;
	border: 1px solid #E59700 /*#E59700*/;
	background-color: #FCEFA1;/*#FCEFA1*/;
	cursor: default;
}
